/* Body styling */
body {
    font-family: 'Roboto', sans-serif;
}

/* Header  styling */
header {
    height: 100vh;
    width: 100%;
    position: relative;
    background-color: black;
    background-image: url("../images/image2.png");
    background-repeat: no-repeat;
    background-size: cover;
}

/* Nav bar */

.navbar {

    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background: rgba(1, 2, 1, 0.1);
    height: 15%;
}

.logo {
    height: 100%;
    display: flex;
    align-items: center;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 60%;
    height: 100vh;
}

.logo h2 {
    color: white;
}

nav ul {
    width: 80%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav ul li {
    list-style: none;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav ul li a {
    text-decoration: none;
    color: white;
}

/* below nav bar */
.nav-btn {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 4rem;
}

.nav-btn button {
    text-align: center;
    text-decoration: none;
    display: inline-block;
    background-color: #ffee00;
    border: none;
    color: white;
    padding: 15px 32px;
    font-size: 16px;
}
.btn-moringa{
    text-align: center;
    text-decoration: none;
    display: inline-block;
    background-color: #ffee00;
    border: none;
    color: white;
    padding: 15px 32px;
    font-size: 16px;
}
.nav-bar-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.nav-bar-content-main {
    width: 50%;
    height: 100%;
    display: flex;
    margin-top: 150px;
    flex-direction: column;
    float: left;
    margin-left: 50px;
}

.nav-bar-content-main p {
    color: white;
    font-weight: 600;
    font-size: xx-large;
}
.content-main{
    display: block;
}
.moringa-btn {
    text-align: center;
    float: left;
    clear: left;
    text-decoration: none;
    background-color: #ffee00;
    border: none;
    color: white;
    padding: 15px 32px;
    font-size: 16px;
}

/* services styles */
.services {
    width: 100%;
    margin: auto;
    text-align: center;
    padding-top: 50px;
    background-color: #bdb4a8;
}

.services>p {
    font-style: italic;
}

.services>h1 {
    color: #ffee00;
    font-size: 40px;
    font-weight: 700;

}

/* This is the review section */
.review>.review-content>p {
    font-style: italic;
}

.row {
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
}

.food-item {
    background-color: white;
    margin-bottom: 10%;
    box-sizing: border-box;
    padding: 25px 17px;
    flex-basis: 30%;
}


.food-item>h2 {
    width: 30px;
    text-align: center;
    margin: auto;
    background-color: #ffee00;
    border-radius: 50%;
}

.review {
    display: flex;
    background-color: black;
}

.review img {
    width: 100%;
    height: auto;
    max-width: 400px;

}

.review-content {
    margin: auto;
    text-align: center;
    padding-top: 50px;
}

.review h1 {
    color: white;
    text-decoration: underline;
}

.review h2 {
    color: white;
}

.review p {
    color: white;
}

/* Menu section */
.menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #bdb4a8;
}

.menu h1 {
    text-align: center;
    color: #ffee00;
    font-size: 40px;
    font-weight: 700;
}

.menu>p {
    width: 70%;
    text-align: center;
    font-style: italic;
}

.menu-item {
    width: 30%;
    margin: 1%;
    display: flex;
    float: left;
    flex-direction: row;
    padding: 2%;
    background-color: white;
}

.menu-item-img {
    width: 200px;
    height: 200px;
    float: left;
}

.menu-item-content {
    width: 70%;
    float: left;
}

.menu-holder {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.food-price {
    font-size: 1rem;
    margin: 5% 0;
    color: #ffd900;
    font-style: normal;

}

.food-detail {
    font-size: 1rem;
}

.img-responsive {
    width: 100%;
}

.btn-order {
    padding: 5%;
    border: none;
    font-size: 1rem;
    border-radius: 5px;
}

/* Footer section styling */
.footer .footer-head {
    background-image: url("../images/image8.png");
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 400px;
    background-size: cover;
    justify-content: center;
}

.footer .footer-head p,
.footer .footer-head h1 {
    color: white;
}

.footer .footer-head button {
    background-color: transparent;
    background-repeat: no-repeat;
    border: 2px solid #ffffff;
    padding: 15px 32px;
    color: white;
}

.footer .footer-tail {
    background-color: black;
    display: flex;
    justify-content: center;
}

.footer .footer-tail p {
    color: white;
}